.git
.DS_Store
.env
.env.*
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
public/storage
database/database.sqlite
database/database.sqlite-*
.phpunit.result.cache
error_log
php.ini
